{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h1 class="my-4">{% translate "Password reset complete" %}</h1>
<form action="{% url 'password_reset' %}" method="post">
    <div class="container wrapper flex-grow-1">
      <p>
          {% translate "Your password has been set. You may go ahead and log in now." %}
      </p>
      <a class="nav-link" href="{% url 'user_login' %}">
        {% translate "Log in" %}
        <span class="sr-only">(current)</span>
      </a>
    </div>
</form>
{% endblock %}