{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h1 class="my-4">{% translate "Password reset" %}</h1>
<form action="{% url 'password_reset' %}" method="post">
    <div class="container wrapper flex-grow-1">
      <p>
          {% translate "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
      </p>
      <p>
          {% translate "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
      </p>
    </div>
</form>
{% endblock %}